/* src/index.css */

/* 1. Declara la fuente Kollektif regular */
@font-face {
  font-family: "Kollektif";
  src: url("./assets/fonts/Kollektif.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* 2. Ahora importa Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;
